html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #dd1e28;
  color: #0854a1;
  
}

/* Make sure all decendants inherit border-box */
*,
*::before,
*::after {
  box-sizing: inherit;
}

nav>ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
  position: sticky;
}

li a {
  border: none;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
}